.grid-container {
    background-color: #D8B4A1;
    padding: 10px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-areas:
    "header"
    "main"
    "aside-c"
    "aside-d"
    "aside-e"
    "."
    "footer";
}

.grid-item {
    background-color: #D77A62;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-header {
    grid-area: header;
}

.grid-main {
    grid-area: main;
}

.grid-aside-c {
    grid-area: aside-c;
}

.grid-aside-d {
    grid-area: aside-d;
}

.grid-aside-e {
    grid-area: aside-e;
}

.grid-footer {
    grid-area: footer;
}

@media screen and (min-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas:
        "header aside-c aside-c"
        "main aside-c aside-c"
        "main aside-e aside-d"
        "main aside-e ."
        "footer footer footer";
    }
}